body {
    background-color: darkcyan;
    /* background-image: url(../images/icono.png); */
}

nav {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: dodgerblue;
    border: 1px solid cornflowerblue;
}

.lista-desordenada {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.lista-ordenada {
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* color: royalblue; */
}

.lista-ordenada-estreno {
    /* font-style: italic; */
    color: red;
}

.temporada {
    font-style:oblique;
    letter-spacing: 1px;
    color: yellow;
}

